* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #bbb;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #111;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

label {
  font-size: 14px;
  cursor: pointer;
}

.container {
  min-width: 360px;
  width: fit-content;
  background-color: #222;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box-title {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  color: #ccc;
  padding: 10px 0;
  font-size: 24px;
}

.box-password {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=text] {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: #111;
  border: 1px solid #333;
  padding: 12px 0 12px 10px;
  border-radius: 3px;
  overflow: hidden;
  color: #ccc;
}

#copy {
  position: absolute;
  right: 10px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 22px;
  font-size: 14px;
  cursor: pointer;
}

#copy:not(:disabled):hover i{
  color: #999;
}

#copy:disabled {
  opacity: 40%;
  cursor: not-allowed;
}

.box-range {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

input[type='range'] {
  cursor: pointer;
  width: 100%;
}

.box-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.box-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.box-button {
  margin-top: 10px;
}

.box-button button {
  width: 100%;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: #1d85ee;
  color: white;
}

.box-button button:not(:disabled):hover {
  background-color: #097BEE;
}

.box-button button:disabled {
  opacity: 40%;
  cursor: not-allowed;
}